[hidden] {
  display: none !important;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;

  /* https://github.com/pulltool/pulltool-chrome-app/issues/19 */
  overflow: auto;
}

body {
  display: flex;
  flex-flow: column;
}

.listings {
  flex: 1;
  display: flex;
  flex-flow: column;
}

.listing {
  flex: none;
  min-height: 240px;
  display: flex;
  flex-flow: row;
}

.section {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

textarea, .ace_editor {
  width: 100%;
  flex: 1;
}

.tightline {
  flex: none;
  display: flex;
  flex-flow: row;
}
